#box{
    height: 150px;
    width: 100px;
    background-color:brown;
    color: white;
    border: 1px solid black;
    margin: 5px;

}

#box2{
    height: 200px;
    width: 100px;
    background-color:rgb(203, 158, 158);
    color: rgb(236, 198, 198);
    border: 1px solid black;

}